body {
  margin: 0;
  padding: 0;
  background-color: #00203FFF;
}

.inner-container {
  width: 100%; 
  height: 85vh;
}

.main-bigger-text{
  font-size: 70px;
  font-weight: 600;
}

@media screen and (max-width: 576px) {
  .main-bigger-text{
    font-size: 45px;
  }
}

#__react-alert__ div div div {
  width: auto !important;
}